@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Libre Franklin", sans-serif; /* National Parks-style font */
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(
    circle,
    hsl(120, 45%, 35%) 0%,   /* Deep forest green center */
    hsl(120, 40%, 30%) 50%, /* Muted green mid */
    hsl(110, 30%, 25%) 100% /* Dark earthy green edge */
  );
  animation: soft-sunburst 30s infinite alternate;
  background-size: 200% 200%;
  font-family: "Libre Franklin", sans-serif; /* National Parks-style font */
  
}

/* Title Gradient and Shadow */
.h1-gradient {
  background: linear-gradient(90deg, hsl(50, 70%, 50%), hsl(120, 45%, 35%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

h2, h3 {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); /* Subtle shadow for headings */
}

a {
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

a:hover {
  color: hsl(50, 80%, 60%);
  text-shadow: 0px 3px 6px rgba(255, 215, 0, 0.6);
}

/* Button Effects */
button {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  background-color: hsl(120, 50%, 90%);
}
